@model DataStoreWithToken.Models.Token

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Token</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OtpHash" class="control-label"></label>
                <input asp-for="OtpHash" class="form-control" />
                <span asp-validation-for="OtpHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TokenHash" class="control-label"></label>
                <input asp-for="TokenHash" class="form-control" />
                <span asp-validation-for="TokenHash" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activated" /> @Html.DisplayNameFor(model => model.Activated)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Revoked" /> @Html.DisplayNameFor(model => model.Revoked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataStoreId" class="control-label"></label>
                <select asp-for="DataStoreId" class="form-control" asp-items="ViewBag.DataStoreId"></select>
                <span asp-validation-for="DataStoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
